<div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          {{!-- <p class="text-center sub-heading">book your tickets here...</p> --}}
          <div class="row">
            <div class="col-md-6 col-12 hero-text">
              <figure>
                <img src="images/fly.jpg" alt="herosection_image">
              </figure>
            </div>
            {{!--right side--}}
            <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
              <h1>WE ARE PROFESSIONAL Developers✌️</h1>
              <p>Welcome to <span class="bold-style">Online Airline Ticket System</span>, Your number one source for all things. We're dedicated to give you best of our work, with a focus on 3 aspects. i.e. Dependability, Customer Service and Uniqueness.</p>
                
              <button class="btn-style btn-primary">Read more</button>
            </div>
          </div>
        </div>
      </div>
</div>
