<div class="container-fluid mt-5 about-style" id="serviceid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">TOP COUNTRIES TO VISIT..</h1>
          <p class="text-center sub-heading">These are some of the countries you need to visit in 2021.To find the details, click on the links below</p>
          <div class="row">
              <div class="col-md-4">
                  <div class="box">
                      <div class="our-services saudi">
                          <div class="icon">
                              <img src="https://cdn.britannica.com/79/5779-004-491EE13C/Flag-Saudi-Arabia.jpg" alt="not available">
                          </div>
                          <a href="https://www.visitsaudi.com/en">SAUDI ARABIA</a>
                          <p>Saudi Arabia is the second biggest tourist destination over 16 million...</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="box">
                      <div class="our-services turkey">
                          <div class="icon">
                              <img src="https://cdn.britannica.com/03/189803-050-871B95C4/Hagia-Sophia-Istanbul.jpg" alt="not available">
                          </div>
                          <a href="https://www.goturkeytourism.com/">TURKEY</a>
                          <p>Tourism in Turkey is focused largely on a variety of historical sites.....</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="box">
                      <div class="our-services dubai">
                          <div class="icon">
                              <img src="http://www.provokemedia.com/images/default-source/default-album/burj-khalifa_01.jpg" alt="not available">
                          </div>
                          {{!-- <h4>DUBAI</h4> --}}
                          <a href="https://www.visitdubai.com/en/">DUBAI</a>
                          <p>The city of gold is a truly international country and one of the seven Emirates in UAE...</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="box">
                      <div class="our-services italy">
                          <div class="icon">
                              <img src="https://www.followmeaway.com/wp-content/uploads/2019/03/Northern-Italy-Venice-1000x533.jpg" alt="not available">
                          </div>
                          <a href="http://www.italia.it/en/home.html">ITALY</a>
                          <p>According with ENIT, Italy is the fourth most visited country in international tourism arrivals...</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="box">
                      <div class="our-services singapore">
                          <div class="icon">
                              <img src="https://www.worldatlas.com/r/w960-q80/upload/5c/36/ae/shutterstock-1014644104.jpg" alt="not available">
                          </div>
                          <a href="https://www.visitsingapore.com/en_in/">SINGAPORE</a>
                          <p>Located to the south of Malaysia, Singapore is known for its glitz and glamour...</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="box">
                      <div class="our-services germany">
                          <div class="icon" >
                              <img src="https://www.planetware.com/wpimages/2019/02/germany-best-places-to-visit-cologne.jpg" alt="not available">
                          </div>
                          <a href="https://www.germany.travel/en/home.html">GERMANY</a>
                          <p>Germany is the eighth-most-visited country in the world with a total of 407.26 million..</p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>  
      

</div>         
